//
// {{ module_info.file_name }}
// {{ module_info.project_name }}
// 
// Created by {{ developer.name }} on {{ date }}.
// Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ prefix }}{{ module_info.name }}DataProvider {
	init(with viewModel: {{ prefix }}{{ module_info.name }}ViewModel)
}

class {{ prefix }}{{ module_info.name }}DataProviderImpl: NSObject, {{ prefix }}{{ module_info.name }}DataProvider {

	private var viewModel: {{ prefix }}{{ module_info.name }}ViewModel

	required init(with viewModel: {{ prefix }}{{ module_info.name }}ViewModel) {
		self.viewModel = viewModel
	}
}

// MARK: - {{ prefix }}{{ module_info.name }}DataSource
extension {{ prefix }}{{ module_info.name }}DataProviderImpl {

}

// MARK: - {{ prefix }}{{ module_info.name }}Delegate
extension {{ prefix }}{{ module_info.name }}DataProviderImpl {

}