//
// {{ module_info.file_name }}
// {{ module_info.project_name }}
// 
// Created by {{ developer.name }} on {{ date }}.
// Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import Swinject

protocol {{ prefix }}{{ module_info.name }}Builder: class {
    static func buildViewController() -> {{ prefix }}{{ module_info.name }}ViewControllerImpl
}

class {{ prefix }}{{ module_info.name }}BuilderImpl: NSObject, {{ prefix }}{{ module_info.name }}Builder {

    static func buildViewController() -> {{ prefix }}{{ module_info.name }}ViewControllerImpl {

        let container = Container()

        // INTERACTOR SETUP
        container.register({{ prefix }}{{ module_info.name }}Interactor.self) { _ in
            return {{ prefix }}{{ module_info.name }}InteractorImpl()
        }.initCompleted { resolver, interactor in
            interactor.attach(to: resolver.resolve({{ prefix }}{{ module_info.name }}Presenter.self)!)
        }

        // VIEW SETUP
        container.register({{ prefix }}{{ module_info.name }}View.self) { _ in
            return {{ prefix }}{{ module_info.name }}ViewControllerImpl()
        }.initCompleted { resolver, viewController in
            guard let viewControllerImpl = viewController as? {{ prefix }}{{ module_info.name }}ViewControllerImpl else { return }
            viewControllerImpl.presenter = resolver.resolve({{ prefix }}{{ module_info.name }}Presenter.self)
        }

        // ROUTER SETUP
        container.register({{ prefix }}{{ module_info.name }}Router.self) { _ in
            return {{ prefix }}{{ module_info.name }}RouterImpl()
        }.initCompleted { resolver, router in
            router.attach(to: resolver.resolve({{ prefix }}{{ module_info.name }}Presenter.self)!)
            router.attach(to: resolver.resolve({{ prefix }}{{ module_info.name }}View.self)!)
        }

        // PRESENTER SETUP
        container.register({{ prefix }}{{ module_info.name }}Presenter.self) { _ in
            return {{ prefix }}{{ module_info.name }}PresenterImpl()
        }.initCompleted { resolver, presenter in
            guard let presenterImpl = presenter as? {{ prefix }}{{ module_info.name }}PresenterImpl else { return }
            presenter.attach(to: resolver.resolve({{ prefix }}{{ module_info.name }}View.self)!)
            presenterImpl.interactor = resolver.resolve({{ prefix }}{{ module_info.name }}Interactor.self)
            presenterImpl.router = resolver.resolve({{ prefix }}{{ module_info.name }}Router.self)
        }

        guard let viewController = container.resolve({{ prefix }}{{ module_info.name }}View.self) as? {{ prefix }}{{ module_info.name }}ViewControllerImpl else {
        	fatalError("Could not create {{ prefix }}{{ module_info.name }} module")
        }
        return viewController

    }

}