//
// {{ module_info.file_name }}
// {{ module_info.project_name }}
// 
// Created by {{ developer.name }} on {{ date }}.
// Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ prefix }}{{ module_info.name }}Presenter: class {
    func attach(to viewController: {{ prefix }}{{ module_info.name }}View)
    func viewIsReady()
}

class {{ prefix }}{{ module_info.name }}PresenterImpl: NSObject, {{ prefix }}{{ module_info.name }}Presenter {

    weak var view: {{ prefix }}{{ module_info.name }}View!
    var interactor: {{ prefix }}{{ module_info.name }}Interactor!
    var router: {{ prefix }}{{ module_info.name }}Router!

    func viewIsReady() {

    }

    func attach(to viewController: {{ prefix }}{{ module_info.name }}View) {
        self.view = viewController
    }

}