//
// {{ module_info.file_name }}
// {{ module_info.project_name }}
// 
// Created by {{ developer.name }} on {{ date }}.
// Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ prefix }}{{ module_info.name }}Router: class {
	func attach(to presenter: {{ prefix }}{{ module_info.name }}Presenter)
	func attach(to view: {{ prefix }}{{ module_info.name }}View)
}

class {{ prefix }}{{ module_info.name }}RouterImpl: NSObject, {{ prefix }}{{ module_info.name }}Router {

	weak var presenter: {{ prefix }}{{ module_info.name }}Presenter!
	weak var view: {{ prefix }}{{ module_info.name }}View!

	func attach(to presenter: {{ prefix }}{{ module_info.name }}Presenter) {
		self.presenter = presenter;
	}

	func attach(to view: {{ prefix }}{{ module_info.name }}View) {
		self.view = view;
	}

}