//
// {{ module_info.file_name }}
// {{ module_info.project_name }}
// 
// Created by {{ developer.name }} on {{ date }}.
// Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ prefix }}{{ module_info.name }}Interactor: class {
	func attach(to presenter: {{ prefix }}{{ module_info.name }}Presenter)
}

class {{ prefix }}{{ module_info.name }}InteractorImpl: NSObject, {{ prefix }}{{ module_info.name }}Interactor {

	weak var presenter: {{ prefix }}{{ module_info.name }}Presenter!

	func attach(to presenter: {{ prefix }}{{ module_info.name }}Presenter) {
		self.presenter = presenter
	}

}